{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <title>Profile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!--fonts
    ====================================================-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700%7cOswald:400,700" rel="stylesheet">
    <!--stylesheets
    ====================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "PFFU/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "PFFU/css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "PFFU/css/profile.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "PFFU/css/simpletextrotator.css" %}">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{% static "PFFU/js/jquery.min.js"%}"></script> <!-- JQUERY -->

    <script language="javascript" type="text/javascript">
        function $(id) {
            return document.getElementById(id);
        }

        function edit(obj) {
            var inp = obj.getElementsByTagName("input");
            var inp2 = obj.getElementsByTagName("textarea");
            for (var i=0,len=inp.length;i<len;i++)
                {
                    inp[i].readOnly=false;
                }
            for (var i=0,len=inp2.length;i<len;i++)
            {
                inp2[i].readOnly=false;
            }
        }
    </script>
</head>
<body>

<!--FRONT PAGE/ SPLASH SCREEN SECTION-->

<div class="loading-screen"></div>

<div id="frontpage">
    <div class="shadow-img"></div>
    <img src="{% static "PFFU/img/front-image.png" %}" class="front-img img-responsive" alt ="Front-image"><!--IMAGE FOR FRONT SCREEN-->
    <h1><U>{{ Firstname }} <span class="invert">{{Lastname}}</span></U></h1><!--PROFILE NAME-->
    <h3 class="invert" style="margin-top: -10px; margin-bottom: 10px;"><U>Software <span class="rotate">Developer, Designer, Artist</span></U></h3> <!--SUBTITLE IN PROFILE-->
    <div class="frontclick"><img src="{% static "PFFU/img/click.png"%}" alt="" class="img-responsive"><span class="pulse"></span></div>
</div>
<!--FRONT PAGE/ SPLASH SCREEN SECTION ENDS-->

<!--container-->
<div class="container">
    <div id="content" class="row hidden">
        <div class="col-sm-4">
            <!--namecard-->
            <div id="namecard" class="namecard">
                <div class="shadow-img"></div>
                <h1 class="maintitle"><U>{{ Firstname }}</U></h1><!--PROFILE NAME-->
                <h3 class="invert sub-maintitle"><U>Software
                    <span class="rotate">Developer, Designer, Artist</span><!--SUBTITLE AFTET NAME-->
                </U></h3>
                <img id="profile-img" class="profile-img transparent" src="{% static "PFFU/img/profile1.png"%}" alt="profile-image"><!--PROFILE IMAGE-->
            </div><!--/#namecard-->

            <!--menu-->
            <div id="menu-container">
                <!--PAGE MENU-->
                <ul class="nav-menu no-padding">
                    <li class="nav-btn selected" title="Home" data-page="home">
                        <div class="hover-background"></div>
                        <span>Profile</span><i class="fa fa-user fa-fw"></i>
                    </li>

                    <li class="nav-btn" id="resume-btn" title="Resume"  data-page="resume">
                        <div class="hover-background"></div>
                        <span>Edit Information</span><i class="fa fa-file-text fa-fw"></i>
                    </li>
                </ul><!--/.nav-menu __PAGE MENU ENDS-->

                <div class="social-menu-container">
                <input type="button" class="btn" style="background-color:#f0ad4e;" value="Back to Portfolio" onclick="{location.href='/portfolio.html'}"/>
                </div><!--/.social-menu-container-->

            </div><!--#menu-container-->
        </div>

        <div class="col-sm-8 page-segment">
            <ul class="page-container no-padding">
                <!--HOME/PROFILE PAGE-->
                <li id="home" class="selected">
                    <div class="title-container hidden">
                        <div class="shadow-img"></div>
                        <h2 class="rotate-out">Welcome To <span class="invert">My Profile</span></h2><!--HOME TITLE-->
                    </div>
                    <div class="description hidden">
                        <div class="watermark-home"></div>

                        <div class="fade-text transparent">
                            <!--DESCRIPTION ON HOME-->

                            <!--DESCRIPTION ON HOME ENDS-->
                        </div>

                        <!--ALL PERSONAL DETAILS-->
                        <h3 class="personal-info-title title">Personal Information</h3>
                        <ul class="personal-info">
                            <li class="rotate-out rotated"><label>UID:</label><span><U>{{Uid}}</U></span></li>
                            <li class="rotate-out rotated"><label>Name:</label><span>{{ Firstname }} {{ Lastname }}</span></li>
                            <li class="rotate-out rotated"><label>Email:</label><span><U>{{Uid}}@anu.edu.au</U></span></li>
                        </ul><!--/ul.personal-info-->

                        <h3 class="personal-info-title title">Working Information</h3>
                        <ul class="personal-info">
                            <li class="rotate-out rotated"><label>Type: </label><span><U>{{exp}}</U></span></li>
                            <li class="rotate-out rotated"><label>Detail: </label><span><U>{{skill}}</U></span></li>
                        </ul><!--/ul.personal-info-->

                        <h3 class="personal-info-title title">Volunteer Information</h3>
                        <ul class="personal-info">
                            <li class="rotate-out rotated"><label>Detail: </label><span><U>{{detail_vol}}</U></span></li>
                        </ul><!--/ul.personal-info-->
                    </div>
                </li><!--/#home-->

                <!--EDITINFOR PAGE-->
                <li id="resume" class="hidden">
                    <div class="title-container">
                        <div class="shadow-img"></div>
                        <h2 class="rotate-out rotated"><span class="invert">Personal Information of</span> <U>{{ Firstname }} {{ Lastname }}</U></h2> <!--RESUME TITLE-->
                    </div>


                    <div class="description">
                        <h3>Profile Information</h3>
                        <p style="color: #7e7e7e">**Name and UID can not been changed</p>

                        <table border="1">
                            <tr>
                                <td>Name</td>
                                <td>XXX</td>
                            </tr>
                            <tr>
                                <td>UID</td>
                                <td>{{Uid}}</td>
                            </tr>
                            <tr>
                                <td>Program1 </td>
                                <td class="s1"><input value="program" readonly="true"/></td>
                            </tr>
                            <tr>
                                <td>Program2</td>
                                <td class="s2"><input value="program2" readonly="true"/></td>
                            </tr>
                            <tr>
                                <td>Major1</td>
                                <td class="s3"><input value="major" readonly="true"/></td>
                            </tr>
                            <tr>
                                <td>Major2</td>
                                <td class="s4"><input value="major2" readonly="true"/></td>
                            </tr>
                            <tr>
                                <td>Year of Study: (First/Mid/Final Year) </td>
                                <td class="s5"><input value="year of study" readonly="true"/></td>
                            </tr>

                            <tr>
                                <td>Work Type: (Causal/Full-time)</td>
                                <td class="s6"><input value={{exp}} readonly="true"/></td>

                            </tr>
                            <tr>
                                <td height="85px">Details of Work Experience:</td>
                                <td height="85px" class="s7"><textarea id="TextArea" cols="40" rows="4" readonly="true">{{skill}}</textarea>
                            </tr>
                            <tr>
                                <td height="85px">Details of Volunteer Experience:</td>
                                <td height="85px" class="s8"><textarea id="TextArea" cols="40" rows="4" readonly="true">{{detail_vol}}</textarea>
                            </tr>
                        </table>
                        <center><input type="button" onclick="edit(this.parentNode.parentNode)" class="edit_btn" style="margin-top: 10px" value="Edit"/>
                        <input type="button" class="save_btn" value="Save"/><center>
                    </div>
                </li>
                <!--/#editInfor-->

                <!--CONTACT PAGE-->
                <li id="contact" class="hidden">
                    <div class="title-container" >
                        <div class="shadow-img"></div>
                        <h2 class="rotate-out rotated">Contact</h2><!--CONTACT PAGE TITLE-->
                    </div>
                    <div class="description">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="map-container">
                                    <div id="map" style="width:100%;height:325px;"></div><!--GOOGLE MAP-->
                                </div>
                            </div>
                        </div>
                    </div>
                </li><!--/#contact-->
            </ul>
        </div><!--/.page-segment -->

        <h6 class="copyright-text" style="margin-top: 15px">Copyright © 2017 PlanningForFutureYou </h6>  <!--if anyone wants copyright Texts-->
    </div>
</div><!--/.container -->







<!--javascript files
=============================================================-->
<script type="text/javascript" src="{% static "PFFU/js/jQueryTween-aio-min.js"%}"></script> <!-- JQUERY Tween Plugin -->
<script type="text/javascript" src="{% static "PFFU/js/jquery.tabslet.min.js"%}"></script> <!-- JQUERY Tab plugin-->
<script type="text/javascript" src="{% static "PFFU/js/progressbar.min.js"%}"></script> <!-- JQUERY Progressbar Plugin-->
<script type="text/javascript" src="{% static "PFFU/js/jquery.simple-text-rotator.min.js"%}"></script> <!-- JQUERY Text Rotator-->
<script type="text/javascript" src="{% static "PFFU/js/bootstrap.min.js"%}"></script> <!-- Bootstrap file-->
<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyBPNkCVoBW_Jzl6x-hgGU6e7QW1QMwKles"></script>
<script type="text/javascript" src="{% static "PFFU/js/isotope.pkgd.min.js"%}"></script>
<script type="text/javascript" src="{% static "PFFU/js/custom.js"%}"></script>
</body>
</html>
