<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===========================
    SITE TITLE
    =========================== -->
    <title>FutureYou</title><!-- This is what you see on your browser tab-->
    <!-- ===========================
    STYLESHEETS
    =========================== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'PFFU/css/index.css' %}" type="text/css"/>
    <!-- ===========================
    GOOGLE FONTS
    =========================== -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Antic|Raleway:300">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body data-spy="scroll">
<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <div class="loadicon icon-moustache wow tada infinite" data-wow-duration="2s"></div>
    </div>
</div>

<header>
    <!-- ===========================
     NAVBAR START
     =========================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/index">
                    <!-- Replace Drifolio Bootstrap with your Site Name and remove icon-grid to remove the placeholder icon -->
                    <span class="brandicon icon-grid"></span>
                    <span class="brandname">Home</span>
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!--NAVIGATION ITEMS STRAT BELOW-->
                    <li><a href="/portfolio"><span class="btnicon icon-bubble"></span>Career Portfolio</a></li>
                    <li><a href="/contact"><span class="btnicon icon-envelope-open"></span>Contact</a></li>
                </ul>
            </div><!--.nav-collapse -->
        </div>
    </nav><!--navbar end-->
</header><!--header end-->
<!-- ===========================
WORKSHOPS SECTION START
=========================== -->

<div class="progressbar" style="margin-left: 20%; margin-right: auto">
    <hr class="separetor">
    <!--progress bar-->
    <!--Sign-off: Lei Huang u6041747@anu.edu.au-->
    <img style=" margin-left: 120px" id="progressbar" src="{% static 'PFFU/img/progressbar1.png' %}" usemap="#image-map">
    <!--code for progress bar image map-->
    <!--Sign-off: Lei Huang u6041747@anu.edu.au-->
    <map name="image-map">
        <area target="/profile" alt="profile" title="" href="/current_profile" coords="30,148,30" shape="circle">
        <area target="/understanding_yourself.html" alt="understanding_yourself" title="" href="/understanding_yourself" coords="134,149,30" shape="circle">
        <area target="/career_goal" alt="career_goal" title="" href="/career_goal" coords="236,148,30" shape="circle">
        <area target="/research_employer" alt="research_employer" title="" href="/research_employer" coords="342,149,30" shape="circle">
        <area target="/workshops" alt="workshops" title="" href="/workshops" coords="445,149,30" shape="circle">
        <area target="/interview_skill" alt="interview_skill" title="" href="/interview_skill" coords="550,149,30" shape="circle">
    </map>

    <!--script for changing progressbar picture according to progressInt from view content-->
    <!--Sign-off: Lei Huang u6041747@anu.edu.au-->
    <script>

        var img = document.getElementById("progressbar");
        var progressInt = "{{progressInt}}";

        function changePicture(progressInt) {

            switch (progressInt){

                case "0":
                    img.src = "{% static 'PFFU/img/progressbar0.png' %}";
                    break;
                case "1":
                    img.src = "{% static 'PFFU/img/progressbar1.png' %}";
                    break;
                case "2":
                    img.src = "{% static 'PFFU/img/progressbar2.png' %}";
                    break;
                case "3":
                    img.src = "{% static 'PFFU/img/progressbar3.png' %}";
                    break;
                case "4":
                    img.src = "{% static 'PFFU/img/progressbar4.png' %}";
                    break;
                case "5":
                    img.src = "{% static 'PFFU/img/progressbar5.png' %}";
                    break;
                case "6":
                    img.src = "{% static 'PFFU/img/progressbar6.png' %}";
                    break;
            }
        }

        changePicture(progressInt);
    </script>
</div>

<div id="about" class="container">
    <div class="sectionhead  row wow fadeInUp">
        <span class="bigicon icon-cup "></span>
        <h2>Engaging with Employers</h2>
        <hr class="separetor">
    </div>

    <h4>A successful job search is made a whole lot easier if you have put some thought into career planning. Knowing
        what you want out of a job and what skills you have to offer allows you to assess opportunities more efficiently
        and apply for jobs in a targeted way.
    </h4>
    <div class="col-md-6">
        <div class="row">

            <h8>Resources For You</h8>

            <h8></h8>
            <h4 class="wow fadeInDown" data-wow-duration="3s">Take a broad and flexible look at the labour market, both
                locally and internationally and you are likely to discover opportunities you may not have thought about
                and may not be directly related to the content of your degree. Increasingly, employers are looking for
                graduates that have ‘enterprise’ skills that enable people to be flexible and adaptable to changing
                environments. </h4>
            <input type="button" class="btn5" value="FOR MORE INFO" onclick="{location.href='/re_em_info'}"/>
            <input type="button" class="btn5" value="FIND THE RESOURCES" onclick="{location.href='https://careerhub.anu.edu.au/students/resources/search?order=Relevance&topicsUseAnd=true'}"/>
        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="{% static 'PFFU/img/resourse.jpeg' %}" width="100%" alt="Skill">
    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->

    <!--<div class="col-md-6">-->
        <!--<div class="row">-->
            <!--&lt;!&ndash;<input type="button" class="btn3" value="FOR MORE INFO" onclick="{location.href='/re_em_info'}"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="button" class="btn3" value="CLICK HERE" onclick="{location.href='https://careerhub.anu.edu.au/students/resources/search?order=Relevance&topicsUseAnd=true'}"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>(Button will redirect you to the Career Hub Resource Website)</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<br><br>&ndash;&gt;-->
            <!--&lt;!&ndash;<h6>Here are some tips to identify and research potential employers:&ndash;&gt;-->
            <!--&lt;!&ndash;</h6>&ndash;&gt;-->
            <!--&lt;!&ndash;<h4>>Attend events like <a href="#anchor"><h13>campus presentations</h13></a>  and <a href="#anchor"><h13>career fairs</h13></a></h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<h4>>Talk to people – identify people that may have information you need; conduct information interviews</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<h4>>Network in person and on relevant social media sites</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<h4>>Read publications like annual reports, graduate recruitment guides and newspapers</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<h4>>Investigate relevant professional associations and become a student member</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<h4>>Consult websites for peak employer bodies as well as employer websites</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<h4>>Use CareerHub for job listings (and other on-line job search sites), employer profiles and industry resources</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<h4>>Gain paid employment or unpaid work experience in your fields of interest</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<h4>>Contact recruitment agencies and talk to their staff about opportunities</h4>&ndash;&gt;-->
            <!--&lt;!&ndash;<a name="anchor"></a>&ndash;&gt;-->
        <!--</div> &lt;!&ndash; ABOUT INFO END &ndash;&gt;-->
    <!--</div>&lt;!&ndash; LEFT PART OF THE ABOUT SECTION END &ndash;&gt;-->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <!--<div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">-->
        <!--<img src="{% static 'PFFU/img/re3.jpeg' %}" width="100%" alt="Skill">-->
    <!--</div>&lt;!&ndash; RIGHT PART OF THE ABOUT SECTION END &ndash;&gt;-->

    <div id="clear"></div>

    <div class="col-md-6">
        <div class="row">
            <h8>Employer Engagement</h8>

            <h8></h8>
            <h4>Finding a job after graduation can be a challenging experience, however, spending time building your
                job search skills and finding ways to connect with employers will pay off. Start early and actively
                seek out opportunities to engage with employers and this will help you to find organisations that align
                with your values, skills and interests.</h4>
            <h8></h8>
        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="{% static 'PFFU/img/employer_meeting.jpeg' %}" width="100%" alt="Skill">
    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->

    <div class="col-md-6">
        <div class="row">
            <h9>Ways to engage with employers:
            </h9>
            <h6>1. On-Campus Presentations and Career Fairs</h6>
            <h4>Opportunity to meet and network with employers through professional associations and you can also attend
                professional development sessions and meet people working in the industry you are interested in.</h4>
            <input type="button" class="btn5" value="FOR MORE INFO" onclick="{location.href='/re_em_info#anchor1'}"/>
            <!--<p>Employers will present in range of ways, sometimes as a ‘panel’ of presenters, with recent graduates or-->
                <!--senior managers.Sometimes they will run workshops, or present in a lecture style. Get to as many of-->
                <!--these types of events as possible to see what is out there for you, try to create networks with these-->
                <!--employers, because if you can stand out, they will remember you. </p>-->
            <!--<p>Career fairs are usually big events, held in large spaces or exhibitions halls where employers showcase-->
                <!--their organisations at booths, displaying their branding and merchandise. They will often have people from-->
                <!--different parts of their organisation, including senior leaders, or recent graduates. It gives you an-->
                <!--opportunity to chat with them and find out what the application processes are like, How they run their-->
                <!--recruitment process and gives you an opportunity to promote yourself and your skills to them. </p>-->
        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->


    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="{% static 'PFFU/img/re2.jpeg' %}" width="100%" alt="Skill">
    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->


    <div class="col-md-6">
        <div class="row">
            <h6>2. Entrepreneurialism Events</h6>
            <h4>Want to be your own boss? The changing world of work means that many people will be either self-employed,
                freelancers or fully entrepreneurial in the future. </h4>
            <input type="button" class="btn5" value="FOR MORE INFO" onclick="{location.href='/re_em_info#anchor2'}"/>
            <!--<p>To be effective in this environment, you will need to be comfortable with risk and develop some basic-->
                <!--business skills. Innovation ANU connects ideas, research, government and business to create value for the-->
                <!--community. Innovation and entrepreneurship are supported through a range of education, licensing,-->
                <!--consultancies, advice and funding opportunities for start-ups. </p>-->
            <!--<p>Visit:</p>-->
            <!--<a href="https://www.anu.edu.au/research/innovation"><h13>   •	www.anu.edu.au/research/innovation</h13></a>-->
            <!--<br><br>-->
            <!--<a href="https://www.innovationact.org"><h13>   •	www.innovationact.org</h13></a>-->
            <!--<br><br>-->
            <!--<a href="https://www.cbrin.com.au"><h13>   •	www.cbrin.com.au</h13></a>-->

        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="{% static 'PFFU/img/workplace.jpg' %}" width="100%" alt="Skill">
    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <!--<div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">-->
        <!--<img src="{% static 'PFFU/img/uy6.jpg' %}" width="100%" alt="Skill">-->
    <!--</div>&lt;!&ndash; RIGHT PART OF THE ABOUT SECTION END &ndash;&gt;-->


    <div class="col-md-6">
        <div class="row">
            <h6>3. Professional Associations</h6>
            <h4>A professional association (also called a professional body, professional organization, or professional
                society) is usually a nonprofit organisation seeking to further a particular profession, the interests
                of individuals engaged in that profession and the public interest.</h4>
            <!--<p>These are some of the benefits of Professional Association membership:</p>-->
            <!--<p>  ·         Access to industry professionals and work experience opportunities</p>-->
            <!--<p>  ·         Education, training and professional development opportunities - Conferences and Seminars            </p>-->
            <!--<p>  ·         Exposure to current research and new developments in your industry            </p>-->
            <!--<p>  ·         Networking opportunities            </p>-->
            <!--<p>  ·         Access to publications / journal subscriptions            </p>-->
            <!--<p>  ·         Increase awareness of career options            </p>-->
            <!--<p>  ·         Prizes and grants            </p>-->
            <!--<p>  ·         Service discounts            </p>-->
            <!--<p>  ·         Students may be entitled to FREE or reduced memberships fees            </p>-->
            <input type="button" class="btn5" value="FOR MORE INFO" onclick="{location.href='/re_em_info#anchor3'}"/>
            <input type="button" class="btn5" value="DO IT NOW" onclick="{location.href='https://careerhub.anu.edu.au/students/events/search?query=&EventType=4'}"/>
            <p>(Button will redirect you to the Career Hub Website)</p>

        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="{% static 'PFFU/img/re1.jpeg' %}" width="100%" alt="Skill">
    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->
    <div class="sectionhead  row wow fadeInUp">
        <hr class="separetor">
    </div>


    <div class="col-md-6">
        <div class="row">
            <h6>4. Information Interviewing</h6>
            <h4>It is useful to talk to people who are currently working in positions or at organisations you are
                interested in. This will help increase your knowledge about your field of interest and help clarify and
                redefine your career goals. Remember, this is an information gathering process which could lead to
                potential career opportunities so treat it like a job interview.
            </h4>

            <input type="button" class="btn5" value=" For more info" onclick="{location.href='http://www.anu.edu.au/files/resource/DSA173813%20Careers%20Guide%20v7%20WEB.pdf#page=23'}"/>
        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="{% static 'PFFU/img/informationinterview.jpg' %}" width="100%" alt="Skill">
    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->



    <div class="col-md-6">
        <div class="row">
            <h6>5. Social Media</h6>
            <h4>Employers are active users of Facebook and Twitter. These platforms are a great way to find out about a
                range of programs and keep up to date with the employer’s latest news. Used carefully, they may help you
                start a conversation or be noticed by an employer. As always, take care to create a positive impression.
            </h4>

            <input type="button" class="btn5" value=" For more info" onclick="{location.href='http://www.anu.edu.au/files/resource/DSA173813%20Careers%20Guide%20v7%20WEB.pdf#page=24'}"/>
        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="{% static 'PFFU/img/uy4.jpg' %}" width="100%" alt="Skill">
    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->

    <div class="sectionhead  row wow fadeInUp">
        <hr class="separetor">
    </div>

    <div id="about" class="container">
        <div class="col-md-6">
            <div class="row">
                <h8>Skills for Engaging with Employers:</h8>
                <h6>1. Networking</h6>
                <h4>Good networkers know that networking relies on reciprocity: it’s about staying in touch with others
                    in your profession, those with common interests and those who may be in influential positions in
                    organisations.</h4>
                <input type="button" class="btn5" value=" For more info" onclick="{location.href='http://www.anu.edu.au/files/resource/DSA173813%20Careers%20Guide%20v7%20WEB.pdf#page=22'}"/>
                <h6>2. Personal Brand</h6>
                <h4>There are lots of social media platforms, so find out which ones people in your field are using and
                    join them. Keep up with the evolution of online platforms and how best they can work for you. Be
                    proactive but use cold calling with caution.
                </h4>
                <input type="button" class="btn5" value=" For more info" onclick="{location.href='http://www.anu.edu.au/files/resource/DSA173813%20Careers%20Guide%20v7%20WEB.pdf#page=24'}"/>
            </div> <!-- ABOUT INFO END -->
        </div><!-- LEFT PART OF THE ABOUT SECTION END -->
        <!--Left part end-->

        <!-- RIGHT PART OF THE ABOUT SECTION -->
        <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
            <img src="{% static 'PFFU/img/netnet.jpg' %}" width="100%" alt="Networking">
        </div><!-- RIGHT PART OF THE ABOUT SECTION END -->
    </div>
    <!--Skill Section part end-->
    <input type="button" class="btn3" value="Previous Section" onclick="{location.href='/career_goal'}"/>
    <input type="button" class="btn3" value="Portfolio Page" onclick="{location.href='/portfolio'}"/>
    <input type="button" class="btn3" value="Next Section" onclick="{location.href='/workshops'}"/>
</div><!-- ABOUT SECTION END -->
<!-- ===========================
FOOTER START
=========================== -->
<footer>
    <div class="container">
        <span class="bigicon icon-speedometer "></span>

        <div class="footerlinks"><!-- FOOTER LINKS START -->
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/portfolio">Career Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div><!-- FOOTER LINKS END -->

        <div class="copyright"><!-- FOOTER COPYRIGHT START -->
            <p><a href="#">Drifolio</a> stands for Dribbble-Portolio. This is a free HTML template designed and
                coded by <a href="">EvenFly Team</a>. All logo and images in this template used for preview purpose
                only. You are free to use the template but make sure to use your own images.More Templates
                <a href="http://www.cssmoban.com/" target="_blank" title=""></a> - Collect from
                <a href="http://www.cssmoban.com/" title="" target="_blank"></a></p>
            <p>The images used in this page are from Pexel. Retrieve from: https://www.pexels.com/ The copyright of the
                information are belong to ANU Career Center.   </p>
        </div><!-- FOOTER COPYRIGHT END -->

        <div class="footersocial wow fadeInUp" data-wow-duration="3s"><!-- FOOTER SOCIAL ICONS START -->
            <ul>
                <li><a href="http://facebook.com"><span class="icon-social-facebook"></span></a></li>
                <li><a href="http://twitter.com"><span class="icon-social-twitter"></span></a></li>
                <li><a href="#"><span class="icon-social-youtube"></span></a></li>
                <li><a href="http://dribbble.com"><span class="icon-social-dribbble"></span></a></li>
                <li><a href="#"><span class="icon-social-tumblr"></span></a></li>
            </ul>
        </div><!-- FOOTER SOCIAL ICONS END -->
    </div>
</footer><!-- FOOTER END -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!--Other necessary scripts-->
<script src="{% static 'PFFU/js/drifolio.js'%}"></script>

</body>
</html>

<!--//mobanzhijia. Modified from: mobanzhijia: http://www.cssmoban.com/-->
<!--//resourse.jpeg is from the free img website :https://www.pexels.com/-->