{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===========================
    SITE TITLE
    =========================== -->
    <title>FutureYou</title><!-- This is what you see on your browser tab-->
    <!-- ===========================
    STYLESHEETS
    =========================== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "PFFU/css/index.css" %}" type="text/css"/>
    <!-- ===========================
    GOOGLE FONTS
    =========================== -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Antic|Raleway:300">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ===========================
     GOOGLE ANALYTICS (Optional)
     =========================== -->

    <!--Replace this line with your analytics code-->

    <!-- Analytics end-->
</head>
<body data-spy="scroll">
<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <div class="loadicon icon-moustache wow tada infinite" data-wow-duration="2s"></div>
    </div>
</div>

<header>
    <!-- ===========================
     NAVBAR START
     =========================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/index">
                    <!-- Replace Drifolio Bootstrap with your Site Name and remove icon-grid to remove the placeholder icon -->
                    <span class="brandicon icon-grid"></span>
                    <span class="brandname">FutureYou</span>
                </a>
            </div>



            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!--NAVIGATION ITEMS STRAT BELOW-->
                    <li><a href="/portfolio"><span class="btnicon icon-bubble"></span>Portfolio</a></li>
                    <li><a href="mailto:u6020717@anu.edu.au"><span class="btnicon icon-envelope-open"></span>Contact</a></li>
                </ul>

            </div><!--.nav-collapse -->
        </div>
    </nav><!--navbar end-->
</header><!--header end-->




<!-- ===========================
INFOR SECTION START
=========================== -->
<div id="about" class="container">
    <div class="sectionhead  row wow fadeInUp">
        <span class="bigicon icon-cup "></span>
        <h2>Understanding Yourself</h2>
        <hr class="separetor">
    </div>

    <h3>Understanding what is important to you in life and work and your strengths and skills will  help you make  informed career choices.</h3>
    <h3> <a href="#basics"> 1.Assessing your employability skills</a></h3>
    <h3> <a href="#appointment">2. Discussing your plans for career goals and graduate jobs with a Careers Consultant at a career appointment</a> </h3>

</div><!-- ABOUT SECTION END -->

<!-- ===========================
BASICS SECTION START
=========================== -->
<a name="basics"></a>
<div id="about" class="container">
    <div class="sectionhead  row wow fadeInUp">
        <span class="bigicon icon-cup "></span>
        <h2>First: Foundational Skills</h2>
        <hr class="separetor">
    </div>

    <div class="col-md-6">
        <div class="row">
            <h8 class="wow fadeInDown" data-wow-duration="2s">Employability Skills</h8>
            <p class="wow fadeInDown" data-wow-duration="3s">It takes more than a degree to get a good job. Employers have a clear idea of the skills, knowledge and attributes required to do the job and work in their organisation. Depending on the industry or occupation you wish to work in these could be very specific technical skills or knowledge. However, there are general skills and competencies (often referred to as employability skills) that employers commonly seek in new recruits.
            </p>
            <input type="button" class="btn3" value="LEARN MORE" onclick="{location.href='/employability_skill'}"/>
            <h8 class="wow fadeInDown" data-wow-duration="2s">Future Skills</h8>
            <p class="wow fadeInDown" data-wow-duration="3s"> The Institute for the Future analyses key drivers that will reshape the landscape of work and identifies 10 key work skills needed in the next 10 years. Consider taking up opportunities that allow you to develop these skills.
            </p>
            <input type="button" class="btn3" value="LEARN MORE" onclick="{location.href='/future_skill'}"/>

            <h6>Now please click the link to do the </h6>
            <h8>Employability Assessment Tool</h8>
            <input type="button" class="btn3" value="CLICK HERE" onclick="{location.href='http://www.careervoyage.com.au/au/'}"/>
        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="{% static "PFFU/img/uy1.jpg" %}" width="100%" alt="Skill">
    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->

    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="{% static "PFFU/img/uy3.jpg" %}" width="100%" alt="Skill">
    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->


    <!-- SECTION2 END -->

</div><!-- ABOUT SECTION END -->


<!-- ===========================
SHORT APPOINTMENT SECTION START
=========================== -->
<a name="appointment"></a>
<div id="about" class="container">
    <div class="sectionhead  row wow fadeInUp">
        <span class="bigicon icon-cup "></span>
        <h2>Second: Book An Appointment</h2>
        <hr class="separetor">
    </div>

    <h8>Career Appointment</h8>
    <p>Come along to a career appointment for individual feedback and advice on career planning, applications, job search, how to build employability, accessing internships and work experience and interview and selection processes.  career appointment can be booked through CareerHub.</p>
    <input type="button" class="btn3" value="DO IT NOW" onclick="{location.href='https://careerhub.anu.edu.au/students/appointments/app/topic/1?campusId=197'}"/>


</div><!-- ABOUT SECTION END -->





<!-- THIERD START -->
<a name="followup"></a>
<div id="about" class="container">
    <div class="sectionhead  row wow fadeInUp">
        <span class="bigicon icon-cup "></span>
        <h2>Third: Follow Up</h2>
        <hr class="separetor">
    </div>

    <h8>Career consultants may advise students to complete one of the following options:</h8>
    <div class="col-md-6">
        <div class="row">
            <h8 class="wow fadeInDown" data-wow-duration="2s">1. Career Voyage</h8>
            <h7>In four easy stages you will be able to develop a career plan.</h7>
            <h7>Section Choice - working with the appropriate level of education and training. Levels range from minimum education and training to university graduate level.</h7>
            <h7>Occupational Interest Guide - provides links from personal interests to the world of work presented in specific and supportive graphical and text format</h7>
            <h7>Job Suggestions -On completion of this section the system generates twenty job suggestions for you, ranked in order of suitability based on what you have said about yourself.</h7>
            <h7>Research and Action Planning - software features enable you to develop realistic career plans.</h7>
            <input type="button" class="btn3" value="DO IT NOW" onclick="{location.href='/uy_choice1'}"/>
        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="{% static "PFFU/img/employability.jpg" %}" width="100%" alt="Skill">
    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->
    <div id="clear"></div>

    <div class="col-md-6">
        <div class="row">
            <h8 class="wow fadeInDown" data-wow-duration="2s">2. New Directions</h8>
            <h7>This tool helps you better understand yourself through analysis of education, work history, skills, interests, personality, values, aspirations, personal circumstances, and external influences.  </h7>
            <h7>Likely compatible Industries, Career Clusters, Occupations, Occupation Specialisations and Career Combinations are explored to facilitate well informed decision making.</h7>
            <input type="button" class="btn3" value="DO IT NOW" onclick="{location.href='/uy_choice2'}"/>
        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="{% static "PFFU/img/employability.jpg" %}" width="100%" alt="Skill">
    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->
    <div id="clear"></div>
    <input type="button" class="btn3" value="Previous Section" onclick="{location.href='/current_profile'}"/>
    <input type="button" class="btn3" value="Next Section" onclick="{location.href='/career_goal'}"/>

</div>
<!-- ABOUT SECTION END -->

<!-- ===========================
FOOTER START
=========================== -->
<footer>
    <div class="container">
        <span class="bigicon icon-speedometer "></span>

        <div class="footerlinks"><!-- FOOTER LINKS START -->
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="mailto:u6020717@anu.edu.au">Contact</a></li>
            </ul>
        </div><!-- FOOTER LINKS END -->

        <div class="copyright"><!-- FOOTER COPYRIGHT START -->
            <p><a href="#">Drifolio</a> stands for Dribbble-Portolio. This is a free HTML template designed and coded by <a href="">EvenFly Team</a>. All logo and images in this template used for preview purpose only. You are free to use the template but make sure to use your own images.More Templates <a href="http://www.cssmoban.com/" target="_blank" title=""></a> - Collect from <a href="http://www.cssmoban.com/" title="" target="_blank"></a></p>
            <p>The images used in this page are from flickr. Retrieve from:www.flickr.com/photos/anu-image-library/ The copyright of the information are belong to ANU Career Center.   </p>
        </div><!-- FOOTER COPYRIGHT END -->

        <div class="footersocial wow fadeInUp" data-wow-duration="3s"><!-- FOOTER SOCIAL ICONS START -->
            <ul>
                <li><a href="http://facebook.com"><span class="icon-social-facebook"></span></a></li>
                <li><a href="http://twitter.com"><span class="icon-social-twitter"></span></a></li>
                <li><a href="#"><span class="icon-social-youtube"></span></a></li>
                <li><a href="http://dribbble.com"><span class="icon-social-dribbble"></span></a></li>
                <li><a href="#"><span class="icon-social-tumblr"></span></a></li>
            </ul>
        </div><!-- FOOTER SOCIAL ICONS END -->
    </div>
</footer><!-- FOOTER END -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!--Other necessary scripts-->
<script src="{% static "PFFU/js/drifolio.js"%}"></script>

</body>
</html>

<!--//mobanzhijia. Modified from: mobanzhijia: http://www.cssmoban.com/-->
<!--// pictures are from https://www.flickr.com/photos/anu-image-library///-->