* {margin: 0; padding: 0;}

html {
    height: 100%;
/*background color*/
    background:
            linear-gradient(#273053, rgba(76, 105, 182, 0.6));
}

body {
    font-family: montserrat, arial, verdana;
}

#loginform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
/*Textfield color and form*/
#loginform textfield {
    border-radius: 3px;
    padding: 20px 30px;
    width: 80%;
    position: relative;
}
/*input form*/
#loginform input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    color: #2C3E50;
    font-size: 15px;
}
/*button*/
#loginform .action-button {
    width: 100px;
    background: #9894aa;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    position: relative;
    left: 20px;
}

.login-title {
    font-size: 28px;
    text-transform: uppercase;
    color: #f0eef9;
    margin-bottom: 10px;
}