{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio Form</title>
</head>
<body>
<center>
    <table width="800">

        <tr>
            <td>
                <center>

                <form id="current_profile" method="POST" action="current_profile">
                    {% csrf_token %}
                        <fieldset>
                            <legend>Portfolio Information</legend>
                            <table>
                                <tr>
                                    <td align="right">Major：</td>
                                    <td><input type="text" name="major"/></td>
                                </tr>
                                <tr>
                                    <td align="right">Study Year：</td>
                                    <td>
                                        <select name="study_year"/>
                                        <option value="early">Early Degree</option>
                                        <option value="middle">Mid-Degree or Penultimate Year</option>
                                        <option value="final">Final Year</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">Work Experience：</td>
                                    <td><input type="radio" name="work" value="work_no"/>None
                                        <input type="radio" name="work" value="casual"/>Casual
                                        <input type="radio" name="work" value="full-time"/>Full-time
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">Volunteer Experience：</td>
                                    <td><input type="radio" name="volunteer" value="vol_no"/>None
                                        <input type="radio" name="volunteer" value="vol_yes"/>Yes
                                    </td>
                                </tr>

                                <tr>
                                    <td align="right">Detail about work experience：</td>
                                    <td><input type="text" name="detail_work" style="height:60px;width:400px" /></td>
                                </tr>
                                <tr>
                                    <td align="right">Detail about volunteer experience：</td>
                                    <td><input type="text" name="detail_vol" style="height:60px;width:400px"/></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <center>
                                            <input type="submit" name="submit" class="submit action-button" value="Submit" />
                                            <input type="reset" value="Reset">
                                        </center>
                                    </td>
                                </tr>

                            </table>
                        </fieldset>
                    </form>
                </center>
            </td>
        </tr>
    </table>
</center>


</body>
</html>