<form id="jsFindPwdForm" method="post" action="{% url 'forget_pwd' %}" autocomplete="off">
    <div class="form-group marb20 {% if forget_form.errors.email %}errorput{% endif %}">
        <label>account</label>
        <input type="text" id="account" name="email" value="{{ forget_form.email.value }}" placeholder="邮箱" />
    </div>
    <div class="form-group captcha1 marb38">
        <label>validate&nbsp;&nbsp;codee</label>
        {{ forget_form.captcha }}
    </div>
    <div class="error btns" id="jsForgetTips">{% for key,error in forget_form.errors.items %}{{ error }}{% endfor %}</div>
    <input type="hidden" name="sms_type" value="1">
    <input class="btn btn-green" id="jsFindPwdBtn" type="submit" value="submit" />
    <p class="form-p" style="bottom:40px;">You can still<a href="{% url 'login.html' %}"> [login directly]</a></p>
{% csrf_token %}
</form>