<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===========================
    SITE TITLE
    =========================== -->
    <title>FutureYou</title><!-- This is what you see on your browser tab-->

    <!-- ===========================
    FAVICONS
    =========================== -->
    <link rel="icon" href="img/anu_logo_fb_350.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/anu_logo_fb_350.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/anu_logo_fb_350.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/anu_logo_fb_350.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/anu_logo_fb_350.png" />

    <!-- ===========================
    STYLESHEETS
    =========================== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/preloader.css">
    <link rel="stylesheet" href="../PFFU/static/PFFU/css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/animate.css">

    <!-- ===========================
    ICONS:
    =========================== -->
    <link rel="stylesheet" href="css/simple-line-icons.css">

    <!-- ===========================
    GOOGLE FONTS
    =========================== -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Antic|Raleway:300">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ===========================
     GOOGLE ANALYTICS (Optional)
     =========================== -->

    <!--Replace this line with your analytics code-->

    <!-- Analytics end-->

</head>
<body data-spy="scroll">
<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <div class="loadicon icon-moustache wow tada infinite" data-wow-duration="2s"></div>
    </div>
</div>

<header>
    <!-- ===========================
    MAIN PICTURE AREA
    =========================== -->
    <div id="home">
        <div class="container homecontent">
            <h2 class="wow fadeInUp" data-wow-duration="2s">Planning for Future You</h2>
            <h4 class="wow fadeInDown" data-wow-duration="3s">This is an ANU Student Careers Gamification Project which aims to create early awareness and engagement with career development among undergraduate students. </h4>
        </div>

        <!-- Featured image on the HOME area -->

        <img class="welcome" data-wow-duration="4s" src="../../WebSite/css/images/main.jpg" alt="Featured Work">


    </div>
    </div><!--MAIN PICTURE AREA END-->

    <!-- ===========================
     NAVBAR START
     =========================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#hero">
                    <!-- Replace Drifolio Bootstrap with your Site Name and remove icon-grid to remove the placeholder icon -->
                    <span class="brandicon icon-grid"></span>
                    <span class="brandname">FutureYou</span>
                </a>
            </div>


            
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!--NAVIGATION ITEMS STRAT BELOW-->
                    <li><a href="../../LeiHuang.com/lei_index.html"><span class="btnicon icon-bubble"></span>Portfolio</a></li>
                    <li><a href="../../TalentTree/talentTree.html"><span class="btnicon icon-user"></span>Talent Tree</a></li>
                    <li><a href="mailto:u6020717@anu.edu.au"><span class="btnicon icon-envelope-open"></span>Contact</a></li>
                </ul>

            </div><!--.nav-collapse -->
        </div>
    </nav><!--navbar end-->
</header><!--header end-->


<!-- ===========================
LOGIN SECTION
=========================== -->
<div id="login">
    <input type="button" class="btn" value="LOGIN" onclick="{location.href='login.html'}"/>
    <input type="button" class="btn" value="REGISTER" onclick="{location.href='signup.html'}"/>
</div>

<!-- ========================
    EMPLOYER_WANT SECTION START
=========================== -->
<div id="services" class="container">

    <!-- SERVICE SECTION HEADING START -->
    <div class="sectionhead  row wow fadeInUp">
        <span class="bigicon icon-cup "></span>
        <h3>What employers look for?</h3>
        <hr class="separetor">
    </div><!--SERVICE SECTION HEADING END-->

    <!-- SERVICE ITEMS START -->
    <div class="row">
        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
            <img src="../PFFU/img/s1.png" alt="">
            <h4>COMMUNICATION</h4>
            <p>Being a good listener, expressing clearly, concisely and persuasively and communicating well with different audiences.</p>
        </div> <!-- ITEM END -->

        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
            <img src="../PFFU/img/s2.png" alt="">
            <h4>TEAMWORK</h4>
            <p>Working well with others to achieve results and recognising the value of other people's contributions and ideas.</p>
        </div> <!-- ITEM END -->

        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
            <img src="../PFFU/img/s3.png" alt="">
            <h4>PROBLEM-SOLVING	</h4>
            <p> Being able to think critically and logically and identify solutions to arrive at a favourable outcome.</p>
        </div> <!-- ITEM END -->

        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
            <img src="../PFFU/img/s4.png" alt="">
            <h4>INITIATIVE</h4>
            <p>Being able to see innovative ways of doing things, seizing opportunities, adapting to new situations and taking initiative. </p>
        </div> <!-- ITEM END -->

        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
            <img src="../PFFU/img/s5.png" alt="">
            <h4>PLANNING and ORGANISING</h4>
            <p>Managing time efficiently, establishing clear goals and objectives and prioritising what tasks need to be done to achieve a goal.  </p>
        </div> <!-- ITEM END -->

        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
            <img src="../PFFU/img/s6.png" alt="">
            <h4>SELF-MANAGEMENT</h4>
            <p>Having a personal vision and goals, being able to evaluate and monitor own performance, having the confidence and ability to take responsibility for actions. </p>
        </div> <!-- ITEM END -->

    </div><!-- SERVICE ITEMS END-->
</div><!-- SERVICE SECTION END -->
<hr><!-- SECTION SEPARETOR LINE -->


<!-- ===========================
ABOUT SECTION START
=========================== -->
<div id="about" class="container">
    <h2>You should know:</h2>

    <!--SKILL SECTION-->
    <!-- LEFT PART OF THE ABOUT SECTION -->
    <div class="col-md-6">
        <div class="row">
            <h3 class="wow fadeInDown" data-wow-duration="2s">Skills</h3>

            <h4 class="wow fadeInUp" data-wow-duration="3s">Develop your transferrable skills.</h4>

            <p class="wow fadeInDown" data-wow-duration="3s">Academia: Public speaking, Research, Publications, Fellowshipsg</p>
            <p class="wow fadeInDown" data-wow-duration="3s">Not for Profit/ Public Sector/ Private Sector: Communication, Teamwork, Analytical and problem solving, Negotiation</p>

        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="../PFFU/img/skill.jpg" width="100%" alt="Skill">

    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->
    <div id="clear"></div>
    <!--Skill Section part end-->


    <!--NETWORKING SECTION-->
    <!-- LEFT PART OF THE ABOUT SECTION -->
    <div class="col-md-6">
        <div class="row">
            <h3 class="wow fadeInDown" data-wow-duration="2s">Networking</h3>

            <h4 class="wow fadeInUp" data-wow-duration="3s">Get involved, join clubs and societies or volunteer.</h4>
            <h4 class="wow fadeInUp" data-wow-duration="3s">Connect with your lecturers, tutors and fellow students.</h4>

            <p class="wow fadeInDown" data-wow-duration="3s">Academia: NECTAR, Attend and get involved at conferences, Close connections</p>
            <p class="wow fadeInDown" data-wow-duration="3s">Not for Profit: Volunteer or join committees / boards /
                counsel / areas of interest / associations, Attend seminars, Work experience</p>
            <p class="wow fadeInDown" data-wow-duration="3s">Public Sector: Attend / get involved in conferences, Internships / vacation programs, Attend APS / career fairs (e.g. Big Meet
                and Tertiary to Work), Attend seminars run by APSC</p>
            <p class="wow fadeInDown" data-wow-duration="3s">Private Sector: Attend / get involved in conferences, Internships / vacation programs, Attend career fairs (e.g. Big Meet and
                Tertiary to Work)</p>
            <a class="dribbble-follow-button wow bounce" href="http://dribbble.com"></a>
        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">


        <img src="../PFFU/img/networking.jpg" width="100%" alt="Networking">

    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->
    <div id="clear"></div>
    <!--Networking Section part end-->

    <!--Experience SECTION-->
    <!-- LEFT PART OF THE ABOUT SECTION -->
    <div class="col-md-6">
        <div class="row">
            <h3 class="wow fadeInDown" data-wow-duration="2s">Experience</h3>

            <h4 class="wow fadeInUp" data-wow-duration="3s">Get involved in an association/community.</h4>
            <h4 class="wow fadeInUp" data-wow-duration="3s">Look for volunteer or casual opportunities.</h4>
            <p class="wow fadeInDown" data-wow-duration="3s">Academia: Present at and attend conferences, 3 Minute Thesis, CHELT teaching certificates, Guest lecturing, Tutoring / ACSA</p>
            <p class="wow fadeInDown" data-wow-duration="3s">Not for Profit/ Public Sector/ Private Sector: University degree, Work in an office to gain transferrable skills, Leadership roles on student associations, Get involved (e.g. Woroni, ANUSA or PARSA)</p>
            <a class="dribbble-follow-button wow bounce" href="http://dribbble.com"></a>
        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">
        <img src="../PFFU/img/experience.jpg" width="100%" alt="Experience">

    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->
    <div id="clear"></div>
    <!--Experience Section part end-->

    <!--Preparation SECTION-->
    <!-- LEFT PART OF THE ABOUT SECTION -->
    <div class="col-md-6">
        <div class="row">
            <h3 class="wow fadeInDown" data-wow-duration="2s">Preparation</h3>

            <h4 class="wow fadeInUp" data-wow-duration="3s">Look for cadetships and employment opportunities.</h4>
            <h4 class="wow fadeInUp" data-wow-duration="3s">Research career paths, jobs and employers, attend career events.</h4>
            <h4 class="wow fadeInUp" data-wow-duration="3s">Find casual work.</h4>
            <p class="wow fadeInDown" data-wow-duration="3s">Academia/ Not for Profit/ Public Sector/ Private Sector: Archival and specialized CV, Career planning throughout degree, Research organisation, Network</p>

            <a class="dribbble-follow-button wow bounce" href="http://dribbble.com"></a>
        </div> <!-- ABOUT INFO END -->
    </div><!-- LEFT PART OF THE ABOUT SECTION END -->
    <!--Left part end-->

    <!-- RIGHT PART OF THE ABOUT SECTION -->
    <div class="col-md-6 wow fadeInUp myphoto" data-wow-duration="4s">

        <img src="../PFFU/img/preparation.jpg" width="100%" alt="Preparation">

    </div><!-- RIGHT PART OF THE ABOUT SECTION END -->
    <div id="clear"></div>
    <!--Preparation Section part end-->

</div><!-- ABOUT SECTION END -->


<!-- ===========================
REGISTER SECTION START
=========================== -->
<div id="register">
    <div class="sectionhead wow bounceInUp" data-wow-duration="2s">
        <span class="bigicon icon-rocket"></span>
        <a href="../../WebSite/signup%20page/signup.html"><h3>Start to plan for future!</h3></a>
        <hr class="separetor">
    </div><!-- REGISTER SECTION HEAD END -->

    <!-- PORTFOLIO ITEMS START -->
    <div class="portfolioitems container">
        <ul><div id="shotsByPlayerId"> </div></ul><!--REFER TO THE js/drifolio.js-->
    </div><!-- PORTFOLIO ITEMS END -->

</div><!-- PORTFOLIO SECTION END -->

<!-- ===========================
FOOTER START
=========================== -->
<footer>
    <div class="container">
        <span class="bigicon icon-speedometer "></span>

        <div class="footerlinks"><!-- FOOTER LINKS START -->
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="../../WebSite/signup%20page/signup.html">Login</a></li>
                <li><a href="../../LeiHuang.com/lei_index.html">Portfolio</a></li>
                <li><a href="../../TalentTree/talentTree.html">Talent Tree</a></li>
                <li><a href="mailto:u6020717@anu.edu.au">Contact</a></li>
            </ul>
        </div><!-- FOOTER LINKS END -->

        <div class="copyright"><!-- FOOTER COPYRIGHT START -->
            <p><a href="#">Drifolio</a> stands for Dribbble-Portolio. This is a free HTML template designed and coded by <a href="">EvenFly Team</a>. All logo and images in this template used for preview purpose only. You are free to use the template but make sure to use your own images.More Templates <a href="http://www.cssmoban.com/" target="_blank" title=""></a> - Collect from <a href="http://www.cssmoban.com/" title="" target="_blank"></a></p>
        </div><!-- FOOTER COPYRIGHT END -->

        <div class="footersocial wow fadeInUp" data-wow-duration="3s"><!-- FOOTER SOCIAL ICONS START -->
            <ul>
                <li><a href="http://facebook.com"><span class="icon-social-facebook"></span></a></li>
                <li><a href="http://twitter.com"><span class="icon-social-twitter"></span></a></li>
                <li><a href="#"><span class="icon-social-youtube"></span></a></li>
                <li><a href="http://dribbble.com"><span class="icon-social-dribbble"></span></a></li>
                <li><a href="#"><span class="icon-social-tumblr"></span></a></li>
            </ul>
        </div><!-- FOOTER SOCIAL ICONS END -->
    </div>
</footer><!-- FOOTER END -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!--Other necessary scripts-->
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.jribbble-1.0.1.ugly.js"></script>
<script src="../../WebSite/js/drifolio.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
</body>
</html>

<!--//mobanzhijia. Modified from: mobanzhijia: http://www.cssmoban.com/-->