{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "PFFU/css/login.css" %}" type="text/css"/>
</head>
<body>
<form id="loginform" method="POST" action="login">
    {% csrf_token %}
    <textfield>
        <h2 class="login-title">Login</h2>
        <input type="text" name="user" placeholder="StudentID" />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" name="submit" class="submit action-button" value="Login" />
        <input type="button" name="Regist" class="btn action-button" value="Register"  onclick="{location.href='/signup.html'}"/>
    </textfield>
</form>
</body>
</html>