<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form name=form method="POST" action="/login">
    {% csrf_token %}
    <table>
        <tr>
            <td colspan=2>Login</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="user" size=20 ></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" size=20 ></td>
        </tr>
        <tr>
            <td><button type="submit">Login</button></td>
            <td><input type="button" class="btn" value="Regist" onclick="{location.href='/signup.html'}"/></td>
        </tr>
    </table>
</form>
</body>
</html>