<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset </title>
    <link rel="stylesheet" href="{% static 'PFFU/css/login.css' %}" type="text/css"/>
</head>
<body>
<form id="loginform"  method="post" action="password_reset.html">
    {% csrf_token %}
    <textfield>
        <h2 class="login-title">Password Reset</h2>
        <input type="text" name="uid" id="uid" placeholder="StudentID" />
        <input type="password" name="password1" id="pwd" placeholder="New password" />
        <input type="password" name="password2" id="repwd" placeholder="Comfirm password" />
        <input type="submit" id="sFindPwdBtn" class="submit action-button" value="submit" />

    </textfield>
    {% csrf_token %}
</form>
</body>
</html>