<form id="reset_password_form" action="{% url 'modify_pwd' %}" method="post">
    <ul>
        <li>
            <span class="">New password ：</span>
            <input type="password" name="password1" id="pwd" placeholder="6-20 character">
            <i></i>
        </li>
        <input type="hidden" name="email" value="{{ email }}">
        <li>
            <span class="">Confirm password：</span>
            <input type="password" name="password2" id="repwd" placeholder="6-20 character">
            <i></i>
        </li>
        <li class="button">
            <input type="submit" value="提交">
        </li>
    </ul>
{% csrf_token %}
</form>