<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Do not match</title>
    <link rel="stylesheet" href="{% static 'PFFU/css/hint.css' %}" type="text/css"/>

</head>
<body>
    <img src="{% static 'PFFU/img/unhappy.png' %}" width="120px">
    <div class="content">
        <h1>Password do not match, turning back to password reset page...</h1>
        <meta http-equiv="refresh" content="3.5;url=password_reset.html">
    </div>
</body>
</html>