<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset </title>

</head>
<body>
    <form id="password_reset"  method="post" action="password_reset.html">
    <ul>
        <li>
            <span class=""> Uid ：</span>
            <input type="text" name="uid" id="uid" placeholder="Your University Id">
            <i></i>
        </li>
        <li>
            <span class="">New password ：</span>
            <input type="password" name="password1" id="pwd" placeholder="6-20 character">
            <i></i>
        </li>
        <li>
            <span class="">Confirm password：</span>
            <input type="password" name="password2" id="repwd" placeholder="6-20 character">
            <i></i>
        </li>
        <li >
            <input class="btn btn-green" id="jsFindPwdBtn" type="submit" value="submit" />
        </li>
    </ul>
{% csrf_token %}
</form>
</body>
</html>