{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===========================
    SITE TITLE
    =========================== -->
    <title>FutureYou</title><!-- This is what you see on your browser tab-->

    <!-- ===========================
    FAVICONS
    =========================== -->
    <link rel="icon" href="img/anu_logo_fb_350.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "PFFU/img/anu_logo_fb_350.png" %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="img/anu_logo_fb_350.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/anu_logo_fb_350.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="img/anu_logo_fb_350.png" />

    <!-- ===========================
    STYLESHEETS
    =========================== -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "PFFU/css/index.css" %}" type="text/css"/>


    <!-- ===========================
    GOOGLE FONTS
    =========================== -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Antic|Raleway:300">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if IE 6]>
    <script src="{% static "PFFU/js/iepng.js" type="text/javascript"%}"></script>
    <script type="text/javascript">
            EvPNG.fix('div, ul, img, li, input,a,span');
    </script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static "PFFU/js/jquery-1.8.3.min.js"%}"></script>


</head>

<body data-spy="scroll">
<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <div class="loadicon icon-moustache wow tada infinite" data-wow-duration="2s"></div>
    </div>
</div>

<header>
    <!-- ===========================
     NAVBAR START
     =========================== -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/index">
                    <!-- Replace Drifolio Bootstrap with your Site Name and remove icon-grid to remove the placeholder icon -->
                    <span class="brandicon icon-grid"></span>
                    <span class="brandname">FutureYou</span>
                </a>
            </div>



            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!--NAVIGATION ITEMS STRAT BELOW-->
                    <li><a href="/portfolio"><span class="btnicon icon-bubble"></span>Portfolio</a></li>
                    <li><a href="mailto:u6020717@anu.edu.au"><span class="btnicon icon-envelope-open"></span>Contact</a></li>
                </ul>

            </div><!--.nav-collapse -->
        </div>
    </nav><!--navbar end-->
</header><!--header end-->


<!-- ===========================


<!-- ========================
    PORTFOLIO SECTION START
=========================== -->
<div id="services" class="container">

    <!-- PORTFOLIO SECTION HEADING START -->
    <div class="sectionhead  row wow fadeInUp">
        <span class="bigicon icon-cup "></span>
        <h2>Portfolio</h2>

        <!-- Image Display SECTION START -->
        <div class="ban" id="demo1">
            <div class="ban2" id="ban_pic1">
                <div class="prev1" id="prev1"><img src="{% static "PFFU/img/tab_r.png"%}" width="51" height="51"  alt=""></div>
                <div class="next1" id="next1"><img src="{% static "PFFU/img/tab_l.png"%}" width="51" height="51"  alt=""></div>
                <ul>
                    <li><a href="javascript:;"><img src="{% static "PFFU/img/p1.jpg" %}"  width=85% alt=""></a></li>
                    <li><a href="javascript:;"><img src="{% static "PFFU/img/p2.jpg" %}"  width=85% alt=""></a></li>
                    <li><a href="javascript:;"><img src="{% static "PFFU/img/p3.jpg" %}"  width=85% alt=""></a></li>
                    <li><a href="javascript:;"><img src="{% static "PFFU/img/p4.jpg" %}"  width=85% alt=""></a></li>
                </ul>
            </div>
        </div>


        <div class="progressbar">
        <hr class="separetor">
        <!--progress bar-->
        <img style=" margin-left: 120px" id="progressbar" src="{% static "PFFU/img/progressbar1.png" %}" width=50%>
        <script>
            var img = document.getElementById("progressbar")
            var progressInt = "{{progressInt}}";
            function changePicture(progressInt) {
                switch (progressInt){
                    case "0":
                        img.src = "{% static "PFFU/img/progressBar0.png" %}"
                        break
                    case "1":
                        img.src = "{% static "PFFU/img/progressbar1.png" %}"
                        break
                    case "2":
                        img.src = "{% static "PFFU/img/progressbar2.png" %}"
                        break
                    case "3":
                        img.src = "{% static "PFFU/img/progressbar3.png" %}"
                        break
                    case "4":
                        img.src = "{% static "PFFU/img/progressbar4.png" %}"
                        break
                    case "5":
                        img.src = "{% static "PFFU/img/progressbar5.png" %}"
                        break
                    case "6":
                        img.src = "{% static "PFFU/img/progressbar6.png" %}"
                        break
                }
            }
            changePicture(progressInt)
        </script>
        <hr class="separetor">
        </div>
    </div><!--PORTFOLIO SECTION HEADING END-->


    <!-- SERVICE ITEMS START -->
    <div class="row">
        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                <ul id="bubblemenu"><li>
                    <a href="/current_profile">
                    <img src="{% static "PFFU/img/s11.png" %}" alt="" width=100px>
                    <h4>Current Profile</h4>
                    </a >
                    <div>Your major, working experience(casual/full-time), volunteer experience</div></li>
                </ul>
        </div> <!-- ITEM END -->

        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                <ul id="bubblemenu"><li>
                    <a href="/understanding_yourself">
                    <img src="{% static "PFFU/img/s12.png" %}" alt="" width=100px>
                    <h4>Understanding Yourself</h4>
                     </a >
                    <div>Including a career value survey and link to book a career planning appointment</div></li>
                </ul>
            </div>

        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                 <ul id="bubblemenu"><li>
                     <a href="/career_goal">
                    <img src="{% static "PFFU/img/s13.png" %}" alt="" width=100px>
                    <h4>Career Goal</h4>
                     </a >
                   <div>Link to some tools about setting up career goals</div></li>
                 </ul>
        </div>

        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                <ul id="bubblemenu"><li>
                    <a href="/research_employer">
                    <img src="{% static "PFFU/img/s14.png" %}" alt="" width=100px>
                    <h4>Researching Industries/Employers</h4>
                     </a >
                    <div>Social networking, Resources for narrowing down target list of employers</div></li>
                </ul>
        </div>

        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                <ul id="bubblemenu"><li>
                    <a href="/workshops">
                    <img src="{% static "PFFU/img/s15.png" %}" alt="" width="100px">
                    <h4>Researching Potential Jobs</h4>
                    </a >
                <div>Links to workshops in career hub (Resume, graduation program).</div></li>
                </ul>
        </div>

        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="3s">
                <ul id="bubblemenu"><li>
                    <a href="/interview_skill">
                    <img src="{% static "PFFU/img/s16.png" %}" alt="" width=100px>
                    <h4>Getting Ready for Graduate Employment</h4>
                    </a >
                    <div>Links to interview skill workshops and graduate programs</div></li></ul>
        </div>

    </div><!-- SERVICE ITEMS END-->
</div><!-- SERVICE SECTION END -->
<hr>



<!-- ===========================

<!-- ===========================
FOOTER START
=========================== -->
<footer>
    <div class="container">
        <span class="bigicon icon-speedometer "></span>

        <div class="footerlinks"><!-- FOOTER LINKS START -->
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="mailto:u6020717@anu.edu.au">Contact</a></li>
            </ul>
        </div><!-- FOOTER LINKS END -->

        <div class="copyright"><!-- FOOTER COPYRIGHT START -->
            <p>Icons used in this page are from FLATICON. Retrieve from: https://www.flaticon.com/packs/communication-and-media-2/2</p>
            <p>The images used in this page are from flickr. Retrieve from:www.flickr.com/photos/anu-image-library/ The copyright of the information are belong to ANU Career Center.</p>
        </div><!-- FOOTER COPYRIGHT END -->

        <div class="footersocial wow fadeInUp" data-wow-duration="3s"><!-- FOOTER SOCIAL ICONS START -->
            <ul>
                <li><a href="http://facebook.com"><span class="icon-social-facebook"></span></a></li>
                <li><a href="http://twitter.com"><span class="icon-social-twitter"></span></a></li>
                <li><a href="#"><span class="icon-social-youtube"></span></a></li>
                <li><a href="http://dribbble.com"><span class="icon-social-dribbble"></span></a></li>
                <li><a href="#"><span class="icon-social-tumblr"></span></a></li>
            </ul>
        </div><!-- FOOTER SOCIAL ICONS END -->
    </div>
</footer><!-- FOOTER END -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<!--progress bar scripts-->
<script src="{% static "PFFU/js/progressbar.js"%}"></script>

<!--image display bar scripts-->
<script src="{% static "PFFU/js/pic_tab.js"%}"></script>
<script type="text/javascript">
    jq('#demo1').banqh({
        box:"#demo1", //Frame
        pic:"#ban_pic1",//Frame of the picture
        prev:"#prev1",//previous arrow
        next:"#next1",//next arrow
        autoplay:true,//auto display
        order:0,//display picture from 0
        picdire:true,//direction of the pictures change
    })
</script>

<!--Other necessary scripts-->
<script src="{% static "PFFU/js/drifolio.js"%}"></script>

</body>
</html>

<!--//mobanzhijia. Modified from: mobanzhijia: http://www.cssmoban.com/-->